@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Montserrat&display=swap');
$headerFont: 'Codystar', cursive;
$regularFont: 'Montserrat', sans-serif;




.page-home {




    h1 {
        color: #ffffff;
        font-size: 72px;
        font-family: $regularFont;
        display: inline-flex;
        justify-content: left;
        align-items: left;
        margin: auto;
        // background-color:whitesmoke;
    }

    main p {
        font-family: $regularFont;
        font-size: 36px;
        color: #4f6c82;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }



    .iconhover {
      //  display: inline-flex;
        position: absolute;
        width: 20%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        opacity: 0;
    }

     .iconhover:hover {
        background-color: darkred;
        opacity: 1;
    }

    

    .icon {
     //   display: inline-flex;
        position:relative;
        width: 20%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .icon:hover {
        background-color: darkred;
        //opacity: 0;
    }
}