@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Montserrat&display=swap');
$headerFont: 'Codystar', cursive;
$regularFont: 'Montserrat', sans-serif;


.page-home {

    .container {
        width: 100%;
        // height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .columns {
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    img {
        position: relative;
        top: 25%;
        bottom: 50%;


        .icon {
            // width: 100%;
            // height: 100%;
            // grid-row: 1 / -1;
        }
    }

    #test {
        position: relative;
        top: 25%;
        bottom: 50%;
    }

    a {

        &hover {
            background-color: none;
        }
    }

    #one {
        background-color: gold;
        // margin: auto;
        // align-self: center;
        //justify-self: center;
    }

    #two {
        background-color: orange;
    }

    #three {
        background-color: indianred;
    }


    #four {
        background-color: palevioletred;
    }
}