.page-about {

    main {
        background-color: palevioletred;
    }



    div#background {
        //  position: absolute;
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        bottom: inherit;
        width: 90%;
        height: 100%;
        margin-left: 30px;
        //  margin-bottom: auto;
        // padding: initial;
    }





    #about-content {
        color: navajowhite;
        background-color: black;
        padding-bottom: 10px;
        font-size: 72px;
        margin-top: 4px;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
