.page-art {

    main {
        // background-color:black;
    }



    div#background {
        //  position: absolute;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: inherit;
        width: 90%;
        height: 100%;
        margin-left: 30px;
        //  margin-bottom: auto;
        // padding: initial;
    }

    #artP {
        color: firebrick;
        background-color: black;
        padding-bottom: 10px;
        font-size: 72px;
        display: inline-flex;
        margin-top: 4px;
    }
}
