@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Montserrat&display=swap');
$headerFont: 'Codystar', cursive;
$regularFont: 'Montserrat', sans-serif;

.page-lists {

    main {
        // background-color:black;
        background-color: indianred;
        display: grid;
    }


    .container {
        width: 100%;
        // height: 100%;
        display: grid;
    }

    .listdiv {
        display: grid;
    }

    h1 {
        display: inline-block;
        //  width: 100%;
        align-content: center;
        padding-left: .7em;
        padding-right: 1em;
        font-size: 5em;
        font-family: $regularFont;
        // border-bottom: 1px solid black;
    }

    .aboutsection {
        font-family: $regularFont;
        font-size: 30px;
        grid-column: 2/3;
        padding: 2em;
        //    display: grid;
        display: none;
        font-family: $regularFont;
        justify-items: center;
        align-items: center;
        margin-top: 5em;
        margin-bottom: auto;
        //background-color:white;
        p {
            background-color: wheat;
            padding: 1em;
        }
    }

    .listHeader {
        // align-content: center;
        // margin-left: 1em;
        font-size: 5em;
        // background-color: black;
        //padding: .2em;
        // box-shadow: 10px 5px 5px black;
        text-decoration: none;
        font-family: $regularFont;
        //align-items:center;
        color: white;
        display: grid;
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    .listcontent {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        display: grid;
    }


    #lists {
        display: grid;
        //  padding: 3em;
        // grid-gap: 5em;
        margin: 3em;
        //  flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        // grid-template-columns: repeat(3, minmax(100px, 1fr));
        // grid-auto-rows: repeat(3, minmax(100px, 1fr));
    }


    .list {
        list-style: none;
        font-size: 40px;
        margin-top: 1em;
        display: grid;
        //  border: 5px solid black;
        display: none;
        columns: 100px;
        // width: 100%;
        //  padding-right: 1em;
        padding-bottom: 1em;
        Flex-direction: column;
        background-color: cornsilk;
        //sjustify-content: space-between;
        //  box-shadow: 10px 5px 5px black;
        li {
            display: flex;
            flex-wrap: wrap;
            padding-right: 1em;
            padding-left: 1em;
            padding-bottom: 1em;
            padding-top: .5em;
            // border-bottom: 1px solid #ccc;
            //  display:none;
        }
    }
}
