@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Montserrat&display=swap');
$headerFont: 'Codystar', cursive;
$regularFont: 'Montserrat', sans-serif;

nav {
    width: 100%;
    display: block;
    color: white;
    background-color: black;
    font-family: $headerFont;
    //display: flex;
    // flex-wrap: wrap;
    //justify-content: start;
    //display:inline-flex;
    a {
        //  display: flex;
        color: white;
        // opacity: .8;
        padding: 0 .5em;
        text-decoration: none;



        &:hover {
            background-color: darkred;
        }
    }
}

ul {
    list-style: none;
    width: 100%;
    //     padding: 0;
    display: flex;
    justify-content: space-between;
    padding-left:0px;
    padding-top:20px;
    padding-bottom:20px;
    margin:0px;

}
.rightNav {
    display: flex;
    margin-left: auto;
    font-size: 2em;
    padding-right:20px;
    margin-top:7px;
    // order:-1 ;
    // flex:1;
}

.leftNav {
    //display: inline-flex;
    // margin-right: auto;
    //flex: 1;
    font-size:2.5em;

  
}





   

   

    
